body{
    background-color: rgb(223, 223, 223);
    margin: 0%;

}

canvas{
    z-index: 0;
    position: absolute;    
    
}
.button {
    z-index: 1;
    width: auto;
    text-transform: lowercase;
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    font-size: 14px;
    left: 30px;
    top:30px;
    width: 90px;
    position: absolute;
    color: rgb(14, 14, 14);
    text-align: center;
    cursor: pointer;
    
}
.titolo{
    z-index: 1;
    width: auto;
    text-transform: uppercase;
    margin-left: -70px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 800;
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 20px;
    color: rgb(14, 14, 14);
    
}
.cit{
 
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 20%;
    
    
}
.frase{
    z-index: 1;
    width: auto;
    
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    font-size: 50px;

  
    
    color: rgb(14, 14, 14);
}
.nome{
    z-index: 1;
    width: auto;
    
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    font-size: 14px;

  
    
    color: rgb(14, 14, 14);
}

.contenitore{
    z-index: 1;
    position: absolute;
    background-color: transparent;
    width: 600px;
    height: 600px;
    left: 5%;
    top: 50%;
    
    margin-top: -300px;
}

.interfaccia{
    z-index: 1;
    position: absolute;
    top: 60%;
    left: 50%;
    background-color: transparent;
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.interfaccia input[type="range"] {
    height: 3px;
    width: 400px;
    margin-bottom: 10px;
    display: block;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background-color: rgb(14, 14, 14);
    display: block;
}


